<div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Dashboard" asp-action="Index">
                    <i class="ni ni-tv-2 text-primary"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" class="nav-link active" asp-controller="User" asp-action="Panel">
                    <i class="ni ni-palette text-primary"></i>
                    <span class="nav-link-text">Kullanıcı Paneli</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Feature" asp-action="Index">
                    <i class="ni ni-planet text-orange"></i>
                    <span class="nav-link-text">Öne Çıkanlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="About" asp-action="Index">
                    <i class="ni ni-single-02 text-yellow"></i>
                    <span class="nav-link-text">Hakkımda</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Service" asp-action="Index">
                    <i class="ni ni-bullet-list-67 text-default"></i>
                    <span class="nav-link-text">Hizmetler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Skill" asp-action="Index">
                    <i class="ni ni-controller text-primary"></i>
                    <span class="nav-link-text">Yetenekler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Portfolio" asp-action="Index">
                    <i class="ni ni-ruler-pencil text-info"></i>
                    <span class="nav-link-text">Projeler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Experience" asp-action="Index">
                    <i class="ni ni-trophy text-pink"></i>
                    <span class="nav-link-text">Deneyimler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-spaceship text-dark"></i>
                    <span class="nav-link-text">Referanslar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="icons.html">
                    <i class="ni ni-notification-70 text-orange"></i>
                    <span class="nav-link-text">İletişim</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" target="_blank" href="/User/Message/SendMessage">
                    <i class="ni ni-delivery-fast text-success"></i>
                    <span class="nav-link-text">Yeni Mesaj</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="ni ni-chart-pie-35 text-info"></i>
                    <span class="nav-link-text">İstatistikler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile.html">
                    <i class="ni ni-settings-gear-65 text-dark"></i>
                    <span class="nav-link-text">Ayarlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-lock-circle-open text-dark"></i>
                    <span class="nav-link-text">Oturumu Kapat</span>
                </a>
            </li>
        </ul>
    </div>
</div>