@model EntityLayer.Concrete.Service

@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Hizmet Ekle</h3>
            </div>
            <br />
            <div class="container">
                <form class="form-group" method="post">
                    <label class="text-white">Hizmet</label>
                    <input type="text" name="Name" class="form-control" />
                    @Html.ValidationMessageFor(p => p.Title)
                    <br />
                    <label class="text-white">Görsel</label>
                    <input type="text" name="ImageUrl" class="form-control" />
                    @Html.ValidationMessageFor(p => p.ImageUrl)
                    <br />
                   
                    <a asp-controller="Service" asp-action="Index" class="btn btn-primary">Liste</a>
                    <button class="btn btn-success">Ekle</button>
                </form>
            </div>
        </div>
    </div>
</div>

