<div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="User" asp-action="Panel">
                    <i class="ni ni-tv-2 text-primary"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="User" asp-action="Profile">
                    <i class="ni ni-circle-08 text-yellow"></i>
                    <span class="nav-link-text">Profil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="User" asp-action="Default">
                    <i class="ni ni-notification-70 text-orange"></i>
                    <span class="nav-link-text">Duyurular</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/User/Message/SenderMessage">
                    <i class="ni ni-send text-info"></i>
                    <span class="nav-link-text">Gönderilen Mesajlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/User/Message/ReceiverMessage">
                    <i class="ni ni-bell-55 text-pink"></i>
                    <span class="nav-link-text">Gelen Mesajlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/User/Message/SendMessage">
                    <i class="ni ni-delivery-fast text-success"></i>
                    <span class="nav-link-text">Yeni Mesaj</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="User" asp-action="Profile">
                    <i class="ni ni-settings-gear-65 text-dark"></i>
                    <span class="nav-link-text">Ayarlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/User/Login/LogOut">
                    <i class="ni ni-lock-circle-open text-dark"></i>
                    <span class="nav-link-text">Oturumu Kapat</span>
                </a>
            </li>
        </ul>
    </div>
</div>