@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@await Component.InvokeAsync("FeatureStatistics")

<!-- Page content -->
<div class="row">
    <div class="container-fluid mt-15">
        <div class="row">
            <div class="col-xl-6">
                asd
            </div>
            <div class="col-xl-6">
                @await Component.InvokeAsync("MessageList")
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8">
                @await Component.InvokeAsync("LastProjects")
            </div>
            <div class="col-xl-4">
                @await Component.InvokeAsync("LastSkills")
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                @await Component.InvokeAsync("LastExperiences")
            </div>
            <div class="col-xl-6">
                @await Component.InvokeAsync("LastServices")
            </div>
        </div>

    </div>
</div>

